.navbar {
    background-color: #19239b;
}

.navbar-nav {
    margin-left: auto;
}

.navbar .nav-link.active {
    border: 1px solid white;
    border-radius: 15px;
}

.footer {
    background-color: #d7d7d7;
}

.min-vh{
    min-height: 100vh;
}